## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import G_key

# Configure gmaps API key
gmaps.configure(api_key=G_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Severo-Kurilsk,RU,50.6789,156.1250,51.15,96,81,11.97,broken clouds
1,1,Lang Son,VN,21.8333,106.7333,75.15,94,100,1.48,overcast clouds
2,2,Port Alfred,ZA,-33.5906,26.8910,61.21,65,0,12.91,clear sky
3,3,Saint George,US,37.1041,-113.5841,92.62,36,99,8.52,overcast clouds
4,4,Hilo,US,19.7297,-155.0900,77.61,85,82,1.01,light rain

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Lang Son,VN,21.8333,106.7333,75.15,94,100,1.48,overcast clouds
4,4,Hilo,US,19.7297,-155.0900,77.61,85,82,1.01,light rain
9,9,Monrovia,LR,6.3005,-10.7969,76.77,86,100,11.23,light rain
11,11,Isabela,PH,6.7085,121.9711,77.05,85,100,3.40,overcast clouds
16,16,Saint-Augustin,CA,51.2260,-58.6502,80.80,29,0,11.41,clear sky
17,17,Kamariotissa,GR,40.4833,25.4667,86.02,76,0,1.92,clear sky
19,19,Castrillon,ES,43.3979,-6.7922,79.21,76,0,3.83,clear sky
21,21,Marovoay,MG,-16.1000,46.6333,75.34,56,51,0.29,broken clouds
25,25,Gimli,CA,50.6336,-96.9907,82.42,51,13,12.66,few clouds
28,28,Kaitong,CN,44.8135,123.1500,75.87,79,6,13.13,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                271
City                   271
Country                271
Lat                    271
Lng                    271
Max Temp               271
Humidity               271
Cloudiness             271
Wind Speed             271
Current Description    271
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lang Son,VN,75.15,overcast clouds,21.8333,106.7333,
4,Hilo,US,77.61,light rain,19.7297,-155.0900,
9,Monrovia,LR,76.77,light rain,6.3005,-10.7969,
11,Isabela,PH,77.05,overcast clouds,6.7085,121.9711,
16,Saint-Augustin,CA,80.80,clear sky,51.2260,-58.6502,
17,Kamariotissa,GR,86.02,clear sky,40.4833,25.4667,
19,Castrillon,ES,79.21,clear sky,43.3979,-6.7922,
21,Marovoay,MG,75.34,broken clouds,-16.1000,46.6333,
25,Gimli,CA,82.42,few clouds,50.6336,-96.9907,
28,Kaitong,CN,75.87,clear sky,44.8135,123.1500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": G_key
    }

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lang Son,VN,75.15,overcast clouds,21.8333,106.7333,Khai Nga Hotel
4,Hilo,US,77.61,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Monrovia,LR,76.77,light rain,6.3005,-10.7969,Sunset Inn
11,Isabela,PH,77.05,overcast clouds,6.7085,121.9711,Isawad Resort
16,Saint-Augustin,CA,80.80,clear sky,51.2260,-58.6502,
...,...,...,...,...,...,...,...
696,Lingao,CN,81.23,overcast clouds,19.9103,109.6859,Lingao Ditai Inn
697,Ikeda,JP,78.69,scattered clouds,34.8221,135.4298,マスミ荘
698,Caravelas,BR,76.89,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
699,Puerto Carreno,CO,84.15,few clouds,6.1890,-67.4859,Casa Hotel Victoria
700,Union,US,86.22,broken clouds,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford

In [23]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df=hotel_df.drop(hotel_df[hotel_df["Hotel Name"].map(len) < 2].index)
hotel_df.head(30)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lang Son,VN,75.15,overcast clouds,21.8333,106.7333,Khai Nga Hotel
4,Hilo,US,77.61,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Monrovia,LR,76.77,light rain,6.3005,-10.7969,Sunset Inn
11,Isabela,PH,77.05,overcast clouds,6.7085,121.9711,Isawad Resort
17,Kamariotissa,GR,86.02,clear sky,40.4833,25.4667,Niki Beach
19,Castrillon,ES,79.21,clear sky,43.3979,-6.7922,HR PALACIO DE PRELO 4 estrellas
25,Gimli,CA,82.42,few clouds,50.6336,-96.9907,Lakeview Gimli Resort
28,Kaitong,CN,75.87,clear sky,44.8135,123.1500,Jinhe Fashion Hotel
30,Iralaya,HN,78.89,broken clouds,15.0000,-83.2333,Iglesia morava renovada
31,Nichinan,JP,76.21,overcast clouds,31.6000,131.3667,Guest House Aki
39,Faanui,PF,77.22,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
44,Kapaa,US,81.12,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
45,Kloulklubed,PW,79.07,very heavy rain,7.0419,134.2556,Storyboard Beach Resort
48,Poplar Bluff,US,77.74,overcast clouds,36.7570,-90.3929,Holiday Inn Poplar Bluff
50,Torbay,CA,80.89,few clouds,47.6666,-52.7314,Gallows Cove
51,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
54,Iquitos,PE,86.04,broken clouds,-3.7481,-73.2472,Casa Morey Hotel & Restaurant
55,Nemencine,LT,77.52,overcast clouds,54.8500,25.4833,"DREAM, cafe-motel, UAB Nedmara"
56,Georgetown,MY,81.95,few clouds,5.4112,100.3354,Cititel Penang
58,Callaguip,PH,77.02,moderate rain,18.0714,120.4867,Pangil Beach Resort
59,Bansdih,IN,81.45,overcast clouds,25.8833,84.2167,Shivam Fast Food Bansdih Badi Bazzar
69,Puerto Ayora,EC,82.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
76,Sur,OM,87.76,few clouds,22.5667,59.5289,Sur Plaza Hotel
84,Bud,US,83.43,clear sky,39.4470,-86.1758,Ted McQuinn Trust
85,San Cristobal,VE,86.18,scattered clouds,7.7669,-72.2250,Posada Villaven C.A.
86,Lourdes,FR,76.48,clear sky,43.1000,-0.0500,"Hôtel Saint Etienne, Lourdes"
93,Bengkulu,ID,75.60,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
96,Tocache,PE,83.52,scattered clouds,-8.1842,-76.5125,Hotel Ortiz
100,Lebanon,US,85.84,broken clouds,36.2081,-86.2911,Hampton Inn & Suites Lebanon
103,Aiken,US,88.34,light rain,33.5835,-81.5998,Aiken Cottages

In [22]:
hotel_df.count()

City                   248
Country                248
Max Temp               248
Current Description    248
Lat                    248
Lng                    248
Hotel Name             248
dtype: int64

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))